<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" >
      <img src="../../../assets/imagenes/healthyEcologic.png" width="30" height="30" alt="healthyEcologic">
      HealthyEcologic</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="this.getUserType()" >
                <a *ngIf="this.getUserType() == 'proveedor' || this.getUserType() == 'admin'"class="nav-link" routerLink="/proveedor/stock" routerLinkActive="active">Stock</a>
            </li>
        </ul>
        <div>
          <form id="buscador" class="form-inline my-2 my-lg-0">
            <input id="input-search" class="form-control mr-sm-2" type="text" placeholder="Buscar">
            <button id="search" class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
        <div id="div-search">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 collapse navbar-collapse" *ngIf="!this.isLogged()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/cliente/registro" routerLinkActive="active">Cliente</a>
              <a class="dropdown-item" routerLink="/proveedor/registro" routerLinkActive="active">Proveedor</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 collapse navbar-collapse" *ngIf="this.isLogged()">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="../../../assets/imagenes/profile.png" width="30" height="30" alt="Ajustes">{{this.getNameUser()}}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/perfil" routerLinkActive="active" >Mi perfil</a>
                <a class="dropdown-item" routerLink="/historial" routerLinkActive="active" >Historial de compras</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/cesta" routerLinkActive="active" >
              <img src="../../../assets/imagenes/cesta.png" width="30" height="30" alt="cesta">
              Cesta</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
