<main class="checkout">

  <form [formGroup]="targetForm" >

  <div class="pay">

    <div class="payment-methods">
        <label for="payment-type-credit-card" class="toggle-label">
          <img src="../../../assets/imagenes/card.png">
          <span>Tarjeta de crédito</span>
        </label>

      <label for="payment-type-paypal" class="toggle-label">
        <img src="../../../assets/imagenes/paypal.png" class="toggle-label">
        <span>PayPal</span>
      </label>

      <label for="card-flip" class="toggle-label" style="margin-left: 6.5%;">
        <img src="../../../assets/imagenes/repetir.png" style="width: 34px;">
        <span>Girar tarjeta</span>
      </label>
    </div>

    <input type="radio" class="toggle-checkbox" id="payment-type-credit-card" checked="checked" name="payment-methods">
    <div class="payment-info credit-card flip-container">
      <input type="checkbox" class="toggle-checkbox" id="card-flip">
      <div class="flip">
        <div class="front">
          <h2>Tarjeta de crédito<img src="../../../assets/imagenes/card.png" style="width: 100px; margin-left: 80px;"> </h2>
          <div class="numbers">
            <input type="text" formControlName="digitsPart1" placeholder="1234" class="numbers-1" maxlength="4" minlength="4" required>
            <input type="text" formControlName="digitsPart2" placeholder="1234" class="numbers-2" maxlength="4" minlength="4" required>
            <input type="text" formControlName="digitsPart3" placeholder="1234" class="numbers-3" maxlength="4" minlength="4" required>
            <input type="text" formControlName="digitsPart4" placeholder="1234" class="numbers-4" maxlength="4" minlength="4" required>
          </div>
          <input type="text" class="name" formControlName="name" placeholder="Nombre titular" required>
          <div class="expiration">
            <h2>Caducidad</h2>
            <input type="text" class="month" formControlName="month" placeholder="Mes" minlength="2" maxlength="2" required>
            <input type="text" class="year"  formControlName="year" placeholder="Año" maxlength="2" minlength="2" required>
          </div>
        </div>
        <div class="back">
          <div class="strip"></div>
          <div class="signature">
            <div class="ccv">
              <input type="text" class="cvv" formControlName="cvv" minlength="3" maxlength="3" placeholder="CVV / Codigo de seguridad" required>
            </div>
          </div>
        </div>
      </div>
    </div>



    <input type="radio" class="toggle-checkbox" id="payment-type-paypal" name="payment-methods">
    <section class="payment-info paypal">
      <h1><img src="../../../assets/imagenes/paypal.png">PayPal</h1>
      <input type="text" placeholder="PayPal Email Address">
      <input type="password" placeholder="Password">
      <button type="submit" class="material-button">
        <img src="../../../assets/imagenes/paypal.png">
        Paga con paypal
      </button>
    </section>

  </div>
  <div class="ui-g-12" style="display: flex;justify-content: center;height: 70px;">
    <button class="material-button" type="button" style="width: 20%;" (click)="validarForm(this.targetForm.value)" >
      <img src="../../../assets/imagenes/target.png">
      Pagar</button>
  </div>

 </form>

</main>


<p-toast [style]="{marginTop: '80px'}"></p-toast>
