<div class="ui-g-2"></div>
<div class="ui-g-8">
  <div class="ui-g-12">
    <div class="ui-g-2">
      <img
        src="../../../assets/imagenes/healthyEcologic.png"
        alt="healthyEcologic"
      />
    </div>
    <div class="ui-g-10">
      <p>
        Que tu alimento sea tu medicina
        <span>
          healthyEcologic
        </span>
        &mdash; y tu medicina sea tu alimento &mdash;
      </p>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="center" style="display: flex;justify-content: center;margin-top: 20px;opacity: 0.9;">
      <img
        src="../../../assets/imagenes/image_content_19023781_20170608152705-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</div>
