margin {
  margin: 10px !important;
}

width {
  width: 80%;
}

img {
  width: 100%;
  height: 150px;
}

.center {
  display: flex;
  align-content: flex-end;
}

rigth {
  display: flex;
  justify-content: flex-end;
}


:host ::ng-deep .title {
  font-weight: bolder 800;
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.datosCard {
  color: #00A96F;
  font-weight: bolder;
  font-size: initial;
}
