<!-- Contenedor Principal -->
<div class="comments-container">
  <h1>Comentarios</h1>

  <textarea *ngIf="this.idUser" [rows]="5" [cols]="77" pInputTextarea placeholder="comentarios"  [(ngModel)]="this.comment"></textarea>
  <div class="derecha"  *ngIf="this.idUser"><p-button label="Enviar" (click)="createComment()"></p-button></div>
  <ul id="comments-list"  *ngIf="this.listComents.length > 0;else noComents" class="comments-list">
    <li *ngFor="let comment of listComents; let i=index">
      <div class="comment-main-level">
        <!-- Avatar -->
        <div class="comment-avatar"><img src="../../../assets/imagenes/persona.png" alt=""></div>
        <!-- Contenedor del Comentario -->
        <div class="comment-box">
          <div class="comment-head">
            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{comment.user_name}}</a></h6>
            <span>Desde {{ comment.created_at | date: 'dd/MM/yyyy hh:mm a' }} </span>
            <i class="fa fa-reply"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">
                {{comment.comment}}
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #noComents>

      <div class="comment-main-level" style="border: 1px solid black;">
        <div class="comment-box" >
          <div class="comment-content" style="height: 100px;">
            No hay comentarios para este producto
          </div>
        </div>
      </div>

  </ng-template>

</div>
