<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Condiciones de Uso y Privacidad</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Centro de pagos</a></li>
            <li><a href="#">Políticas de empresa</a></li>
            <li><a href="#">Privacidad de datos</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Centro de ayuda</h4>
          <ul class="list-unstyled">
            <li><a href="#">Vende con nosotros</a></li>
            <li><a href="#">Reclamaciones</a></li>
            <li><a href="#">Devoluciones</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Atención al cliente</h4>
          <ul class="list-unstyled">
            <li><a href="#">Teléfonos</a></li>
            <li><a href="#">Horarios</a></li>
            <li><a href="#">Políticas de uso</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Síguenos en</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Instagram"><img src="../../../assets/imagenes/instagram-bosquejado.png" alt="Instagram" style="height: 30px;"></a></li>
             <li><a href="#" class="icoFacebook" title="Instagram"><img src="../../../assets/imagenes/facebook.png" alt="Instagram" style="height: 30px;"></a></li>
            </ul>
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - HealthyEcologic.  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>
