<div>
  <h1>Cesta de la compra</h1>
  <div *ngIf="basketElements.length !== 0;else vacio">
    <p-card *ngFor="let element of basketElements; let i=index" [style]="{width: '100%'}">
      <p-header>
        <div class="row col-12">
          <div class="ui-g-3">
            <img src="Card" [src]="element.image">
          </div>
          <div class="ui-g-9">
            <h4>{{element.name_product}}</h4>
          </div>
        </div>
      </p-header>
      <div class="ui-g-12">
        <!-- <div class="ui-g-5">
          unidades <input style="width: 50%;" id="input" type="number" size="99999"  pInputText [(ngModel)]="this.element.buyUnits">
        </div> -->
        <div class="ui-g-10">
          Cantidad en kilos <input style="width: 50%;" id="input" type="number" size="99999"  pInputText [(ngModel)]="this.element.buyKilos">
        </div>
        <div class="ui-g-2">
          <button style="margin-left: 13%;"  pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="this.borrarProductoCesta(i)"></button>
        </div>
      </div>
      <p-footer>
       Total producto es: {{this.calcularCantidad(i)}} €
      </p-footer>
    </p-card>
    <div class="ui-g-12">
      Total Cesta es: {{this.calcularTotalCesta()}} €
    </div>
  </div>


    <ng-template #vacio>
      <p-card header="Sin productos" [style]="{width: '460px'}"></p-card>
    </ng-template>
</div>


