<div>
  <div class="ui-g-8"><h2>Cesta</h2></div>
  <div class="ui-g-4" *ngIf="basketElements" style="display: flex; justify-content: center;align-items: center; padding-top: 15px; padding-bottom: 15px;"><p-button *ngIf="this.irCesta && basketElements.length !== 0" label="Ir cesta" [routerLink]="['/cesta']" routerLinkActive="router-link-active" ></p-button></div>
  <div *ngIf="basketElements">
  <div *ngIf="basketElements.length !== 0;else vacio">
    <div class="ui-g-12">
    <p-card *ngFor="let element of basketElements; let i=index" [style]="{width: '100%'}">
      <p-header>
        <div class="row col-12" >
          <div class="ui-g-5">
            <img src="Card" [src]="element.image">
          </div>
          <div class="ui-g-7" style="display: flex; justify-content: center;align-items: center;">
            <h4>{{element.name_product}}</h4>
          </div>
        </div>
      </p-header>
      <div class="ui-g-12">
        <!-- <div class="ui-g-5">
          unidades <input style="width: 50%;" id="input" type="number" size="99999"  pInputText [(ngModel)]="this.element.buyUnits">
        </div> -->
        <div class="ui-g-10">
          Cantidad en kilos <input style="width: 50%;" id="input" type="number" size="99999"  pInputText [(ngModel)]="this.element.buyKilos">
        </div>
        <div class="ui-g-2">
          <button style="margin-left: 13%;"  pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="this.borrarProductoCesta(i)"></button>
        </div>
      </div>
      <p-footer>
       Total producto: {{this.calcularCantidad(i)}} €
      </p-footer>
    </p-card>
    <div class="ui-g-12">
      Total Cesta: {{this.calcularTotalCesta()}} €
    </div>
  </div>
  </div>

    <ng-template #vacio>
      <div class="ui-g-12">
        <p-card header="Sin productos" [style]="{width: '460px'}"></p-card>
      </div>
    </ng-template>
  </div>
</div>


