<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g-2"></div>
<div class="ui-g-8 prueba">
<form [formGroup]="formUsuario" >
    <p-panel>
      <p-header>
        <h3>Formulario de registro para {{tipoUsuario}}</h3>
    </p-header>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Nombre *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="user_name" placeholder="Obligatorio"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="El nombre es Obligatorio" *ngIf="!formUsuario.controls['user_name'].valid&&formUsuario.controls['user_name'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Apellidos *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="user_surnames" placeholder="Obligatorio"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Los apellidos son obligatorios" *ngIf="!formUsuario.controls['user_surnames'].valid&&formUsuario.controls['user_surnames'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Email *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="user_email" placeholder="Email Obligatorio"/>
              </div>
              <div class="ui-grid-col-4">
                  <p-message severity="error" text="El email es Obligatorio" *ngIf="!formUsuario.controls['user_email'].valid&&formUsuario.controls['user_email'].dirty"></p-message>
              </div>
            </div>




            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Contraseña *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Contraseña minimo 6 caracteres"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error" [text]="formUsuario.controls['password'].errors['required'] ? 'La contraseña es requerida' : formUsuario.controls['password'].errors['minlength'] ? 'No menos de 9 caracteres' : ''"
                        *ngIf="!formUsuario.controls['password'].valid&&formUsuario.controls['password'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row ui-grid ">
              <div class="ui-grid-col-2">
                  Repite Contraseña *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="password" formControlName="repitePassword" placeholder="Repite Contraseña"/>
              </div>
              <div class="ui-grid-col-4">
              <p-message severity="error" [text]="formUsuario.controls['repitePassword'].errors['required'] ? 'La contraseña es Obligatoria' : formUsuario.controls['repitePassword'].errors['minlength'] ? 'No menos de 9 caracteres' : ''"
                      *ngIf="!formUsuario.controls['repitePassword'].valid&&formUsuario.controls['repitePassword'].dirty"></p-message>
              </div>
          </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Descripción:
                </div>
                <div class="ui-grid-col-6">
                    <textarea  [rows]="5" [cols]="30" pInputTextarea autoResize="true" style="width: 100%;" type="text" formControlName="user_description" placeholder="Descripción personal"></textarea>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Género *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="genero" formControlName="user_gender"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="El genero es obligatorio" *ngIf="!formUsuario.controls['user_gender'].valid&&formUsuario.controls['user_gender'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Enviar" [disabled]="!formUsuario.valid" (click)="registrarUsuario(formUsuario.value)" routerLink="/"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>

            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Formulario enviado
                <br>
                {{diagnostic}}
            </div>
        </div>
    </p-panel>
</form>
</div>
<div class="ui-g-2"></div>
