<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g-2"></div>
<div class="ui-g-8 prueba">
<form [formGroup]="formUser" >
    <p-panel>
      <p-header>
        <h3>Formulario de registro para {{userType}}</h3>
    </p-header>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3 colorInput">
                    Nombre * :
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="user_name" placeholder="Obligatorio"/>
                </div>
                <div class="ui-grid-col-3">
                    <p-message severity="error" text="El nombre es Obligatorio" *ngIf="!formUser.controls['user_name'].valid&&formUser.controls['user_name'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3 colorInput">
                    Apellidos *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="user_surnames" placeholder="Obligatorio"/>
                </div>
                <div class="ui-grid-col-3">
                    <p-message severity="error" text="Los apellidos son obligatorios" *ngIf="!formUser.controls['user_surnames'].valid&&formUser.controls['user_surnames'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-3 colorInput">
                  Email *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="user_email" placeholder="Email Obligatorio"/>
              </div>
              <div class="ui-grid-col-3">
                  <p-message severity="error" text="El email es Obligatorio" *ngIf="!formUser.controls['user_email'].valid&&formUser.controls['user_email'].dirty"></p-message>
              </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-3 colorInput">
                  Telefono *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="tel" formControlName="phone" id="phone" placeholder="666888000" pattern="[0-9]{9}" required />
              </div>
              <div class="ui-grid-col-3">
                  <p-message severity="error" text="No coincide con el patron" *ngIf="!formUser.controls['phone'].valid&&formUser.controls['phone'].dirty"></p-message>
              </div>
            </div>

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3 colorInput">
                    Dirección *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="direction" placeholder="Calle inventada numero 12"/>
                </div>
                <div class="ui-grid-col-3">
                    <p-message severity="error" text="dirección no añadida" *ngIf="!formUser.controls['direction'].valid&&formUser.controls['direction'].dirty"></p-message>
                </div>
              </div>
            </div>



            <div class="ui-grid-row">
                <div class="ui-grid-col-3 colorInput">
                    Contraseña *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Contraseña minimo 9 caracteres"/>
                </div>
                <div class="ui-grid-col-3">
                <p-message severity="error" [text]="formUser.controls['password'].errors['required'] ? 'La contraseña es requerida' : formUser.controls['password'].errors['minlength'] ? 'No menos de 9 caracteres' : ''"
                        *ngIf="!formUser.controls['password'].valid&&formUser.controls['password'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row ui-grid ">
              <div class="ui-grid-col-3 colorInput">
                  Repite Contraseña *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="password" formControlName="repeatPassword" placeholder="Repite Contraseña"/>
              </div>
              <div class="ui-grid-col-3">
              <p-message severity="error" [text]="formUser.controls['repeatPassword'].errors['required'] ? 'La contraseña es Obligatoria' : formUser.controls['repeatPassword'].errors['minlength'] ? 'No menos de 9 caracteres' : ''"
                      *ngIf="!formUser.controls['repeatPassword'].valid&&formUser.controls['repeatPassword'].dirty"></p-message>
              </div>
          </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-3 colorInput">
                    Descripción:
                </div>
                <div class="ui-grid-col-6">
                    <textarea  [rows]="5" [cols]="30" pInputTextarea autoResize="true" style="width: 100%;" type="text" formControlName="user_description" placeholder="Descripción personal"></textarea>
                </div>
                <div class="ui-grid-col-3"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3 colorInput">
                    Género *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="this.gender" formControlName="user_gender"></p-dropdown>
                </div>
                <div class="ui-grid-col-3">
                    <p-message severity="error" text="El genero es obligatorio" *ngIf="!formUser.controls['user_gender'].valid&&formUser.controls['user_gender'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Enviar" [disabled]="!formUser.valid" (click)="registerUser(formUser.value)"  style="background-color: #0088A9;border-color: blanchedalmond;" routerLink="/"></button>
                </div>
                <div class="ui-grid-col-3"></div>
            </div>
        </div>
    </p-panel>
</form>
</div>
<div class="ui-g-2"></div>
