<div class="row col-7">
<div class="ui-g-12 ui-md-6 ui-lg-4" *ngFor="let product of products;let i=index">
<p-card header="{{product.name_product}}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="{{product.image}}">
    </p-header>
    <div>{{product.product_description}}</div>
    <div class="ui-g-12 ui-fluid">
      <div class="ui-g-12">
        <div *ngIf="this.user[0].user_type == 'provider' || this.user[0].user_type == 'admin'; else client">
          El precio es: <input style="width: 90%;" id="input" type="number" size="99999" pInputText [(ngModel)]="this.product.price"> €
        </div>
        <ng-template #client> El precio es {{this.product.price}} €</ng-template>
      </div>
      <div class="ui-g-6">
      <!-- <div *ngIf="this.user[0].user_type == 'provider' || this.user[0].user_type == 'admin'; else unidades" >
            <span>Unidades:</span>
            <input style="width: 80%;" id="input" type="number" size="99999"  pInputText [(ngModel)]="this.product.units">
      </div>

      <ng-template #unidades> Las unidades son {{this.product.units}}</ng-template>
      <div *ngIf="this.user[0].user_type == 'Cliente'">
        <span>Numero unidades desea:</span>
        <input style="width: 80%;" id="input" type="number" min="0" [max]="this.product.units" size="99999" pInputText [(ngModel)]="this.product.buyUnits">
      </div> -->
    </div>



      <div class="ui-g-6">
        <div *ngIf="this.user[0].user_type == 'provider' || this.user[0].user_type == 'admin'; else kilos" >
        <span>kilos:</span>
        <input style="width: 80%;" id="input" type="number" min="1" size="99999" pInputText [(ngModel)]="this.product.kilos">
        </div>
        <ng-template #kilos> Los kilos son {{this.product.kilos}}</ng-template>
        <div *ngIf="this.user[0].user_type == 'Cliente'">
          <span>Numero kilos desea:</span>
          <input style="width: 80%;" id="input" type="number" size="99999" min="0" [max]="this.product.kilos" pInputText [(ngModel)]="this.product.buyKilos">
        </div>
      </div>
    </div>
    <p-footer>
        <div *ngIf="this.user[0].user_type == 'provider' || this.user[0].user_type == 'admin'; else button">
          <button  style="margin-left: 5%;" pButton type="button" label="Actualizar" icon="pi pi-check"  (click)="guardarActulizarProducto(this.product,i)"></button>
          <button *ngIf="this.user[0].user_type == 'provider' || this.user[0].user_type == 'admin'" style="margin-left: 13%;"  pButton type="button" label="Borrar" icon="pi pi-times" class="ui-button-danger" (click)="borrarProducto(i)"></button>
        </div>
        <ng-template #button><button  style="margin-left: 5%;" pButton type="button" label="Añadir a la cesta" (click)="this.agregarProductoCesta(this.product,i)"  icon="pi pi-check"></button>
        </ng-template>
      </p-footer>
  </p-card>
</div>
</div>

